*{
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  html{
  scroll-behavior: smooth;
}
.header_link{
  text-decoration: none;
  color: #fff;
}
.header{
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.692) ),url(imges/header_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 670px;
  color: #fff;
  margin-bottom: 100px;
}
.header_content{
  width: 70%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_text{
  display: flex;
  gap: 80px;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
}
.header_button{
  background-color: #07AF91;
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 15px 45px;
  border-radius: 10px;
  font-size: 18px;
}
.header_container{
  width: 70%;
  margin: auto;
  margin-top: 120px;
}
.cnt-h1{
  font-size: 40px;
  margin-bottom: 25px;
}
.cnt-p{
  font-size:30px;
  margin-bottom: 25px;
}
.cnt-button{
  color: #fff;
  font-size: 20px;
  font-weight: 550;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #61B5E4, #016CA8);
}
.cnt-button:hover{
  background: linear-gradient(to right, #61b4e4d5, #016ba8cd);
}
.header_menu{
  display: none;
}
.section1_container{
  width: 80%;
  display: flex;
  margin: auto;
  margin-bottom: 100px;
  align-items: center;
}
.cnt1_text{
  width: 50%;
  font-size: 20px;
  
}
.kj{
  color: #1178B2; margin-bottom: 50px; margin-left: 150px;
}
.sec1_container{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.cnt2_text{
  font-size: 20px;
}
.section2_container{
  background-color: #fff;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}
.sec2_cnt_block1{
  width: 30%;
  padding: 1px;
  text-align: center;
  padding-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(178, 178, 178);
  margin-bottom: 100px;
}
.sec2_cnt_block1:hover{
  cursor: pointer;
  box-shadow: -5px 20px 35px rgb(99, 99, 99);
}
.sec2_cnt_block1:active{
  cursor: pointer;
  box-shadow: 0px 5px 20px rgb(99, 99, 99);
}
.sec2_h1{
  color: #1177b2b1;
  font-size: 70px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
.sect2_h1{
  color: #1178B2; margin-left: 160px; margin-bottom: 50px;
}
.section3{
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.692) ),url(imges/section3_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-bottom: 100px;
}
.sec3_h1{
  font-size: 40px;
  background-color: #07AF91;
  color: #fff;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 25px;
  border-radius: 5px;
}
.sec3_p{
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
}
.sec3_button{
  background: linear-gradient(to right, #61B5E4, #016CA8);
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 550;
  padding: 15px 35px;
  display: block;
  border-radius: 7px;
  margin: auto;
  margin-top: 50px;
}
.sec3_button:hover{
  background: linear-gradient(to right, #61b4e4d5, #016ba8cd);
}
.section4-buttons{
   width: 75%;
   margin-left: 160px;
   display: flex;
   justify-content: space-between;
  }
  .sec4-button1{
    background-color: #eef1f4;
    width: 25%;
  color: #000;
  padding: 10px 1px;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-left: 1px solid #CFDDEB;
  border-right: 1px solid #CFDDEB;
  border-radius: 7px;
}
.sec4-button1:active{
  background-color: #88BBD8;
  color: #000;
  font-weight: 600;
}
.section4-container{
  background-image: url(imges/section4-img.png);
  background-repeat: no-repeat;
  width: 60%;
  margin-left: 160px;
  height: 400px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.sec4-button{
  color: #fff;
  font-size: 16px;
  font-weight: 550;
  padding: 12px 15px;
  border: none;
  border-radius: 7px;
  background: linear-gradient(to right, #61B5E4, #016CA8);
  margin-bottom: 20px;
}
.sec4-button:hover{
cursor: pointer;
background: linear-gradient(to right, #61b4e4d5, #016ba8cd);
}
.sec4-blocks{
  width:  500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.f1{
  width: 220px;
  padding: 10px;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(186, 186, 186);
  height: 100px;
  background-color: #fff;
}
.sd{
  color: #1178B2; margin-left: 160px; margin-bottom: 30px;
}
.d{
  margin-left: 260px; color: #1178B2;
  margin-bottom: 10px;
}
.sec5-p{
  margin-left: 260px;
  width: 1000px;
  margin-bottom: 20px;
}
.sec5-container{
  width: 60%;
  margin-left: 350px;
  display: flex;
  justify-content: space-between;

}
.sec5-cnt-block1{
  width: 30%;
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(133, 133, 133);
}
.sec5-cnt{
  background-color: #000;
  width: 30%;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  padding: 250px;
  margin-bottom: 100px;
  margin: auto;
  margin-left: 350px;
  margin-top: 30px;
}
.section6{
  width: 60%;
  margin: auto;
  margin-top: 60px;
}
.sec6-s1{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 15px rgb(195, 195, 195);
}
.sec6-button{
  background: linear-gradient(to right, #61B5E4, #016CA8);
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 550;
  padding: 15px 35px;
  display: block;
  border-radius: 7px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.section7{
  background-image: url(imges/section7_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  padding: 1px;
}
.sec7-container{
  width: 80%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  gap: 300px;
}
.sec7-text{
  margin-top: 100px;
  color: #fff;
}
.sec7-imges{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}




@media (max-width: 640px) {
  .section7{
    width: 100%;
    flex-direction: column;
    gap: 10px;
    display: none;
  }
  .sec6-button{
    margin-left: 25px;
    width: 300px;
    font-size: 15px;
    margin: auto;
  }
  .section6 h1{
    font-size: 26px;
    text-align: center;
    margin-bottom: 50px;
  }
  .sec6-s1{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
  }
  .section6{
    width: 100%;
  }
  .sec5-cnt img{
    width: 80px;
  }
  .sec5-cnt{
    width: 90%;
    margin-left: 0;
    padding: 20px;
    padding-bottom: 70px;
  }
  .sec5-cnt-block1{
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
  }
  .sec5-container{
    margin-left: 0;
    width: 100%;
    flex-direction: column;
    margin-top: 40px;
  }
  .sec5-p{
    margin-left: 0;
    width: 400px;
    text-align: center;
  }
  .d{
    margin-left: 0;
    text-align: center;
  }
  .section5{
    margin-top: 300px;
    width: 100%;
  }
  .f1{
    width: 160px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .sec4-blocks{
    width: 100%;
  }
  .sd{
    margin-left: 100px;
  }
  .section4-buttons{
    width: 100%;
    margin-left: 0;
  }
  .section4-container{
    width: 100%;
    margin-left: 0;
   flex-direction: column;
  }
  .sec3_button{
    font-size: 11px;
    width: 200px;
    height: 40px;
    margin-top: 40px;
  }
  .sec3_p{
    font-size: 13px;
    width: 340px; 
    margin: auto;
    margin-top: 30px;
  }
  .sec3_h1{
    width: 80%;
    font-size: 20px;
    margin-top: 20px;
  }
  .section3{
    width: 100%;
    height: 350px;
  }
  .sect2_h1{
    margin-left: 0;
    text-align: center;
    margin-top: -30px;
  }
  .sec2_cnt_block1{
    width: 300px;
    margin: auto;
    margin-bottom: 50px;
  }
  .section2_container{
    width: 100%;
    flex-wrap: wrap;
  }
  .cnt2_text{
    width: 80%;
    font-size: 20px;
    margin: auto;
    margin-top: 50px;
  }
  .sec1_container{
    width: 100%;
    flex-direction: column;
    text-align: center;
        
  }
  .section1 .header_button{
    padding: 1px 110px;
    margin-top: 30px;
    font-size: 17px;
    height: 60px;
  }
  .kj{
    margin-left: 0;
    text-align: center;
    margin-top: -40px;
  }
  .cnt1_text{
    width: 90%;
    font-size: 20px;
    margin: auto;   
  }
  .section1_container img{
    width: 350px;
    margin-bottom: 50px;
  }
  .section1_container{
    width: 100%;
    flex-direction: column-reverse;
    text-align: center;
  }
  .cnt-button{
    font-size: 15px;
  }
  .cnt-p{
    font-size: 20px;
  }
  .cnt-h1{
    font-size: 25px;
  }
  .header_menu{
    display: block;
  }
  .header_container{
    width: 100%;
    margin-top: 150px;
    text-align: center;
  }
  .header_button{
    padding: 3px 23px;
    font-size: 13px;
    border-radius: 5px;
    height: 40px;
  }
  .header_text{
    display: none;
  }
  .header_content{
    width: 90%;
    padding: 0px;
    margin-top: -10px;
  }
  .header{
    width: 100%;
  }
}