*{
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  html{
  scroll-behavior: smooth;
}
.header_link{
  text-decoration: none;
  color: #fff;
}
.header{
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.692) ),url(imges/header_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 670px;
  color: #fff;
  margin-bottom: 100px;
}
.header_content{
  width: 70%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_text{
  display: flex;
  gap: 80px;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
}
.header_button{
  background-color: #07AF91;
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 15px 45px;
  border-radius: 10px;
  font-size: 18px;
}
.header_container{
  width: 70%;
  margin: auto;
  margin-top: 120px;
}
.cnt-h1{
  font-size: 40px;
  margin-bottom: 25px;
}
.cnt-p{
  font-size:30px;
  margin-bottom: 25px;
}
.cnt-button{
  color: #fff;
  font-size: 20px;
  font-weight: 550;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #61B5E4, #016CA8);
}
.cnt-button:hover{
  background: linear-gradient(to right, #61b4e4d5, #016ba8cd);
}
.header_menu{
  display: none;
}
.section1_container{
  width: 80%;
  display: flex;
  margin: auto;
  margin-bottom: 100px;
  align-items: center;
}
.cnt1_text{
  width: 50%;
  font-size: 20px;
  
}
.kj{
  color: #1178B2; margin-bottom: 50px; margin-left: 150px;
}
.sec1_container{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.cnt2_text{
  font-size: 20px;
}
.section2_container{
  background-color: #fff;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.sec2_cnt_block1{
  width: 30%;
  padding: 1px;
  text-align: center;
  padding-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(178, 178, 178);
  margin-bottom: 100px;
}
.sec2_cnt_block1:hover{
  cursor: pointer;
  box-shadow: -5px 20px 35px rgb(99, 99, 99);
}
.sec2_cnt_block1:active{
  cursor: pointer;
  box-shadow: 0px 5px 20px rgb(99, 99, 99);
}
.sec2_h1{
  color: #1177b2b1;
  font-size: 70px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}




@media (max-width: 640px) {
  .cnt2_text{
    width: 80%;
    font-size: 20px;
    margin-top: 50px;
    margin: auto;
  }
  .sec1_container{
    width: 100%;
    flex-direction: column;
    text-align: center;
        
  }
  .section1 .header_button{
    padding: 1px 110px;
    margin-top: 30px;
    font-size: 17px;
    height: 60px;
  }
  .kj{
    margin-left: 0;
    text-align: center;
    margin-top: -40px;
  }
  .cnt1_text{
    width: 90%;
    font-size: 20px;
    margin: auto;   
  }
  .section1_container img{
    width: 400px;
    margin-bottom: 50px;
  }
  .section1_container{
    width: 100%;
    flex-direction: column-reverse;
    text-align: center;
  }
  .cnt-button{
    font-size: 15px;
  }
  .cnt-p{
    font-size: 20px;
  }
  .cnt-h1{
    font-size: 25px;
  }
  .header_menu{
    display: block;
  }
  .header_container{
    width: 100%;
    margin-top: 150px;
    text-align: center;
  }
  .header_button{
    padding: 3px 23px;
    font-size: 13px;
    border-radius: 5px;
    height: 40px;
  }
  .header_text{
    display: none;
  }
  .header_content{
    width: 90%;
    padding: 0px;
    margin-top: -10px;
  }
  .header{
    width: 100%;
  }
}